
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}


@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}


@media (max-width: 460px) {
  html {
    font-size: 40%;
  }
  #intro-name > h1 {
    font-size: 200%;
  }
  .selfie {
    width: 100%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
}

@media (max-width: 800px) {
  body {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
  }
  p {
    text-align: left;
  }
  
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  /* text-align: center; */
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #009e42;
}


/* nav */

/* Flex-Direction for when you want to CENTER your nav! */
#navbar {
  flex-direction: column;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-list:first-child a {
  justify-content: flex-start;
}

@media(max-width: 28.75em) {
  .nav {
    justify-content: center;

  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem;
  text-shadow: 1px 1px #077523;
}

/* .nav-list a:hover {
  transform:scaleY(1.5);
  transform: translateX(-8px);
  background-color: #ffffff;
} */

@media(max-width: 800px) {
  #navbar {
    padding-top: 5px;
  }

  .nav-list {
    margin: 0 .1rem;
    float: inline-end;
  }
}

@media (max-width: 980px) {
.nav-list a {
  display: block;
  font-size: 2.7rem;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 20%;
  }
}

/* .nav-list a:hover {
  transform:scaleY(1.5);
  transform: translateX(-8px);
  color: aqua;
  background-color: #6d6d6d;
} */

/* Welcome section */

@media(max-width: 800px) {
  .welcome-section, #sub-intro{
  width: 100%;
  text-align: center;
  padding: 0;
  height: 150px;
  }
}

@media(max-width: 800px) {
  .selfie{
  text-align: center;
  padding: 0;
  display: inline;
  
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #000;
}

#intro-name {
  color: #000;
}


/* Fixes positioning for mobile view */
@media(max-width: 800px) {
  .welcome-section, #sub-intro {
    top: 0;
    left: 0;
    text-align: center;
    padding: 0;
}
  
}

.selfie {
  object-fit: contain;
  border-radius: 20px;
  width: 50%;
  height: 50%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;

}

/* About Me Section */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: #fff;
}


/* Projects section */

.box-top {
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(top, #888 0%,rgb(0, 0, 0) 30%);
  box-shadow: 3px 3px 5px #666;
  margin: 1rem;
  padding: 12px;
}
.box > h2, .box-top > h2{

  background: rgb(81, 106, 252);
  float: left;
  padding: 8px 16px;
  position: relative;
  top: -18px;
  left: 1px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-6deg);
  font: bold 18px sans-serif;
}

.box, .box-top > ul {
  padding-top: 10%;
}

.box, .box-top > p {
  clear: both
}

.box {
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(top, #888 0%,rgb(0, 0, 0) 30%);
  box-shadow: 3px 3px 5px #666;
  margin: 1rem;
  padding: 12px;
}
.box > h2{

  background: rgb(81, 106, 252);
  float: left;
  padding: 8px 16px;
  position: relative;
  top: -18px;
  left: 1px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-6deg);
  font: bold 18px sans-serif;
}

.box > ul {
  padding-top: 10%;
}

.box > p {
  clear: both
}

/* boxes for mobile devices */

@media (max-width: 800px) {
.box {
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(top, #888 0%,rgb(0, 0, 0) 30%);
  box-shadow: 3px 3px 5px #077523;
  margin: 1rem;
  padding: 12px;
}
.box > h2 {

  background: #ccc;
  float: left;
  padding: 8px 16px;
  position: relative;
  top: -18px;
  left: 1px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-6deg);
  font: bold 18px sans-serif;
}

.box > ul {
  padding-top: 15%;
}

.box > p {
  clear: both
}
}


.projects-section {
  text-align: center;
  padding: 31rem 2rem;
  background-color: #fff;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #ffffff;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 7rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 7rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #ff7f50;
  box-shadow: 1px 1px 2px #193652;
  border-radius: 2px;
}

.code {
  color: #dcffe5;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #50d6ff;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  font-weight: 800;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: #ff7f50;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background-color: #fff;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  padding: 0 2rem;
  background-color: #fff;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #193652;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform:scaleY(1.5);
  transform: translateX(-8px);
  background-color: #ff7f50;
  border-radius: 50%;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgb(0, 233, 133, 1);
  background-size: 100% 20px;
  background-color: #2988a5;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}


/* Menu Tree Test Diagram */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  
  border: 0 none;
    
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
    transition: all ease .4s;
}

.nav {
  margin: 20px auto;
  width: 455px;
  min-height: auto;
}

.nav ul {
  position: relative;
  padding-top: 20px; 
}

.nav li {
  position: relative;
  padding: 20px 3px 0 3px; 
  float: left; 
  
  text-align: center;
  list-style-type: none; 
}

.nav li::before, .nav li::after{
  content: '';
  position: absolute; 
  top: 0; 
  right: 50%;
  width: 50%; 
  height: 20px;
  border-top: 1px solid #ccc;
}

.nav li::after{
  left: 50%;
  right: auto; 
  
  border-left: 1px solid #ccc;
}

.nav li:only-child::after, .nav li:only-child::before {
  content: '';
  display: none;
}

.nav li:only-child{ padding-top: 0;}
.nav li:first-child::before, .nav li:last-child::after{
  border: 0 none;
}

.nav li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}

.nav li:first-child::after{
    border-radius: 5px 0 0 0;
}
.nav ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; 
  height: 20px;
}

.nav li a{
  display: inline-block;
  padding: 5px 10px;
  
  border-radius: 5px;
  border: 1px solid #ccc;
  
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
}

.nav li a:hover, .nav li a:hover+ul li a {
  color: #000;
  background: #c8e4f8;   
  border: 1px solid #94a0b4;
}

.nav li a:hover+ul li::after, 
.nav li a:hover+ul li::before, 
.nav li a:hover+ul::before, 
.nav li a:hover+ul ul::before{
  content: '';
  border-color: #94a0b4;
}